
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input type="button" class="btn btn-default" value="ارسال درخواست به سرور " load-partial="/Home/_Alert" />
<input type="button" class="btn btn-default" value="ارسال درخواست به سرور " load-partial="/Home/_Alert/1"/>

